<phpunit bootstrap="test/Bootstrap.php" processIsolation="true">
    <testsuites>
        <testsuite name="Protec ZF2 Trait Test Suite">
            <directory>test/WbBase</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
